/* Exercices feuille Récap Bootstrap */
/* Programmé par Sophie B */
/* 28 mars 2019 */

@font-face
{
    font-family: RAVEN;
    src: url(../font/RAVEN.ttf);
}

.html,body
{
    margin: 0;
    height: 100%;
}

.bg
{
    background-image: url("../images/BackGround/background8.png");
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c7b69b;
}

.bgAsie
{
    background-image: url("../images/Carousel/Asie.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.bgAfrique
{
    background-image: url("../images/Carousel/Afrique.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.bgOceanie
{
    background-image: url("../images/Carousel/Oceanie.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bgf
{
    background-image: url("../images/BackGround/background2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #464036;
}


.btn
{
    background-color: #78260F;
    padding-left: 46px;
    padding-right: 46px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bgDark
{
    background-color: #464036;
}

.fb
{
    color: #78260F;
}

.insta
{
    color: #ec8c03;
}

.jumbotron
{
    margin-top: 165px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 32px;
    background-color: #c7b69b;
}

.form-check
{
    text-align: left;
}

.carousel-caption {
    background-color: rgba(50, 50, 50, 0.4);

}


.hauteur450
{
    height: 450px;
}

h1
{
    font-size: 28px;
}

h2
{
    font-size: 24px;
    color: #ec8c03;
    padding-top: 14px;
    padding-bottom: 14px;
}

h3
{
    font-size: 18px;
    color: #ec8c03;
    margin-top: 12px;
}

p
{
    font-size: 18px;
}

.pf
{
    font-size: 15px;
    color: white;
    margin: 0;
}

.list-group-item
{
    background-color: #78260F;
}

.border
{
    margin-top: 15px;
    border-color: #464036;
    border-width: thick;

}

li
{
    color: white;
    text-align: center;
}

/* ********** Couleur NavBar https://work.smarchal.com/twbscolor/4.0.0/css/464036c7b69bec8c03ffffff0  ********** */

.navbar {
    background-color: #464036;
}
.navbar .navbar-brand {
    color: #ec8c03;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}
.navbar .navbar-text {
    color: #ec8c03;
}
.navbar .navbar-text a {
    color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffffff;
}
.navbar .navbar-nav .nav-link {
    color: #ec8c03;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #c7b69b;
}
.navbar .navbar-toggle {
    border-color: #c7b69b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #c7b69b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ec8c03;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ec8c03;
}
.navbar .navbar-link {
    color: #ec8c03;
}
.navbar .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ec8c03;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #c7b69b;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ec8c03;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #c7b69b;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ec8c03;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #c7b69b;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ec8c03;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #c7b69b;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ec8c03;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #c7b69b;
}