/* Projet final */
/* Programmé par Sophie B */
/* 4 mai 2019 */


html,body
{
    margin: 0;
    height: 100%;
}

.container-fluid
{
    padding:0;
}

.h-10
{
    height: 10%;
}

.h-60
{
    height: 60%;
}

.h-80
{
    height:80%;
}

.h-90
{
    height:90%;
}

.h-98
{
    height:98%;
}

.BGbeige
{
    height: 100%;
    background-color: rgb(221, 194, 167);
}

.BGblanc
{
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}

.BGbleu
{
    height: 100%;
    background-color: rgb(122, 166, 229);
}

.BGbleupale
{
    height: 100%;
    background-color: #cbd4e0;
}

.BGbrun
{
    height: 100%;
    background-color: #856249;
}

.BGgris
{
    height: 100%;
    background-color: rgba(97, 97, 97, .4);
}

.bg
{
    background-color: black;
    margin: 0;
}

hr
{
    max-width: 125px;
    border-width: 4px;
    border-color: black;
    margin-top: 20px;
}

.parallaxLacHertel
{
    /* l'image du parallax */
    background-image: url("../images/Parallax/Lac-Hertel.jpg");

    /* la hauteur du parallax */
    height: 100%;

    /* création de l'effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxMaman
{
    /* l'image du parallax */
    background-image: url("../images/Parallax/ParallaxMaman.jpg");

    /* la hauteur du parallax */
    height: 700px;

    /* création de l'effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxMontHam
{
    /* l'image du parallax */
    background-image: url("../images/Parallax/ParallaxMont-Ham.jpg");

    /* la hauteur du parallax */
    height: 1350px;

    /* création de l'effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxEtudes
{
    /* l'image du parallax */
    background-image: url("../images/Parallax/Parallaxetudes.jpg");

    /* la hauteur du parallax */
    height: 1800px;

    /* création de l'effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxSports
{
    /* l'image du parallax */
    background-image: url("../images/Parallax/ParallaxSommets.jpg");

    /* la hauteur du parallax */
    height: 1800px;

    /* création de l'effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxLoisirs
{
    /* l'image du parallax */
    background-image: url("../images/Parallax/Parallaxloisir.jpg");

    /* la hauteur du parallax */
    height: 1800px;

    /* création de l'effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxReves
{
    /* l'image du parallax */
    background-image: url("../images/Parallax/Parallaxreve2.jpg");

    /* la hauteur du parallax */
    height: 1800px;

    /* création de l'effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1
{
    font-family: Permanent Marker, sans-serif;
    color: #1d2124;
    font-size: 58px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
}

.H1Card
{
    font-family: Satisfy, sans-serif;
    color: #1d2124;
    font-size: 50px;
}

h2
{
    font-family: Satisfy, sans-serif;
    color: #1d2124;
    font-size: 53px;
    padding-left: 35px;
}

.H2Card
{
    font-size: 40px;
}

h3
{
    font-family: "Permanent Marker", sans-serif;
    color: #1d2124;
    font-size: 30px;
    padding: 5px 0;
}

h4
{
    font-family: Satisfy, sans-serif;
    color: #1d2124;
    font-size: 25px;
}

p
{
    font-family: Satisfy, sans-serif;
    font-size: 28px;
    color: black;
    padding: 5px;
}

.P1
{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}

.PBGL
{
    font-family: Satisfy, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding-left: 25px;
    margin: 0;
}

.PBGR
{
    font-family: Satisfy, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    text-align: right;
    padding-right: 25px;
    margin: 0;
}

.row
{
    margin: 0;
}

