/* Labotaoire 01 */
/* Programmé par Sophie Bergeron */
/* 16 mars 2019 */

@font-face {
    font-family: starwars;
    src: url(../font/Starjedi.ttf);
}
body
    {
    width: 1000px;
    background: url(../img/etoileMort.jpg) no-repeat ;
    background-color: black;
    margin: auto;
    }

h1
    {
    font-family: starwars, sans-serif;
    font-size: 140px;
    color: yellow;
    text-align: center;
    margin: 0;
    }

h2, h3, h4
{
    color: white;
    text-align: center;
}

h2
    {
    font-size: 72px;
    }

h3
{
    font-size: 60px;
}

h4
{
    font-size: 44px;
}

p
{
    font-size: 16px;
    color: white;
    text-align: justify;
    }

img
    {
    display: block;
    margin: auto;
    }

a
{
    color: white;
}

.film
{
    color: yellow;
}

