/* ExerciceNavBar */
/* Programmé par Sophie B */
/* 21 mai 2019 */



html,body
{
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: HoneyScript-Light;
    src: url(../font/HoneyScript-Light.ttf);
}

@font-face {
    font-family: HoneyScript-SemiBold;
    src: url(../font/HoneyScript-SemiBold.ttf);
}

.container-fluid
{
    padding:0;
}

.row
{
    margin: 0;
}


.h-10
{
    height: 10%;
}

.h-20
{
    height: 20%;
}

.h-40
{
    height: 40%;
}

.h-60
{
    height: 60%;
}

.h-80
{
    height:80%;
}

.h-90
{
    height:90%;
}

.h-98
{
    height:98%;
}

.bg
{
    background-color: black;
    margin: 0;
}

.BGblanc
{
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}

.BGJaunePale
{
    height: 100%;
    background-color: rgba(248, 221, 146, .8);
}

hr
{
    max-width: 125px;
    border-width: 6px;
    border-color: #5d3d35;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1
{
    font-family: HoneyScript-SemiBold, sans-serif;
    color: #5d3d35;
    font-size: 120px;
}

.H1Card
{
    font-family: Satisfy, sans-serif;
    color: #1d2124;
    font-size: 50px;
}

h2
{
    font-family: Satisfy, sans-serif;
    color: #1d2124;
    font-size: 53px;
    text-align: center;
}

.H2Card
{
    font-size: 40px;
}

h3
{
    font-family: "honeyScript-SemiBold", sans-serif;
    color: #efb70f;
    font-size: 60px;
    padding: 5px 0;
}

h4
{
    font-family: Satisfy, sans-serif;
    color: #1d2124;
    font-size: 25px;
}

p
{
    font-family: Satisfy, sans-serif;
    font-size: 28px;
    color: black;
    padding: 5px;
}

.P1
{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}

.PBGL
{
    font-family: Satisfy, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding-left: 25px;
    margin: 0;
}

.PBGR
{
    font-family: Satisfy, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    text-align: right;
    padding-right: 25px;
    margin: 0;
}

.PBGC
{
    font-family: Satisfy, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    padding-right: 25px;
    margin: 0;
}

.PTH
{
    font-family: Satisfy, sans-serif;
    color: #1d2124;
    font-size: 25px;
}

.icone
{
    color: #efb70f;
}


/* ******* BARRE DE NAVIGATION ******* */

.navbar {
    background-color: #070200;
}
.navbar .navbar-brand {
    color: #efb70f;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #5d3d35;
}
.navbar .navbar-text {
    color: #efb70f;
}
.navbar .navbar-text a {
    color: #5d3d35;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #5d3d35;
}
.navbar .navbar-nav .nav-link {
    color: #efb70f;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #5d3d35;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #070200;
    border-color: #f8dd92;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #efb70f;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #5d3d35;
    background-color: #f8dd92;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #f8dd92;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #5d3d35;
    background-color: #f8dd92;
}
.navbar .navbar-toggle {
    border-color: #f8dd92;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #f8dd92;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #efb70f;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #efb70f;
}
.navbar .navbar-link {
    color: #efb70f;
}
.navbar .navbar-link:hover {
    color: #5d3d35;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #efb70f;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #5d3d35;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #5d3d35;
        background-color: #f8dd92;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #efb70f;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #5d3d35;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #5d3d35;
        background-color: #f8dd92;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #efb70f;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #5d3d35;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #5d3d35;
        background-color: #f8dd92;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #efb70f;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #5d3d35;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #5d3d35;
        background-color: #f8dd92;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #efb70f;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #5d3d35;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #5d3d35;
    background-color: #f8dd92;
}